<div class="container">
    <div class="container-inner">
        <h1>Sup</h1>
        <p>
            Well, well, we meet again Mr. {{lastName}}, {{firstName}}. Well played sir.
        </p>
        <div class="picture">
            <img src="../assets/well-played.jpg" alt="well-played'" />
        </div>
        <p>
            Although, it must be your age I think. How ld are you again? Ah yes, {{foobar?.bar}} wasn't it? A magical year I rememgber it well. The age I got Mr. Pigglesworth here:
        </p>
        <div class="picture">
            <img src="../assets/mrkitty.jpg" alt="Mr. Kitty" />
        </div>
    </div>
    <router-outlet></router-outlet>
</div>